
.radiobutton{
  appearance: none;

}

.radiobutton + label{
  user-select: none;
  cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 50px;
  width: 100%;
  border: 2px solid #AAAAAA;
  border-radius: 25px;
	background-color: #CCCCCC;
}

.radiobutton + label:hover{
	background-color: #999999;
}

.radiobutton:checked + label{
  background-color: #474747;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  color: white;
}

.reason-selector {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .reason0 { grid-area: 1 / 1 / 2 / 2; }
  .reason1 { grid-area: 2 / 1 / 3 / 2; }
  .reason2 { grid-area: 2 / 2 / 3 / 3; }
  .reason3 { grid-area: 1 / 2 / 2 / 3; }

/* CSS */
.btns {
  appearance: none;
  background-color: #FEC340;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  height: 200px;
  margin: 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btns:disabled {
  pointer-events: none;
}

.btns:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}


.selector-class {
  padding: 10px;

}

/* Login form - center in the middleof the page*/
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}


.studentactions>.btn:not(:last-child) {
  margin-right: 10px;
 }
 
/* Move back arrow to top left of the page */
#back-arrow {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  cursor: pointer;
  margin-top: 8%;
}

.header {
  background-color: #102E5E;
  padding: 10px
}

#refresh-symbol {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  cursor: pointer;
  margin-top: 8%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}


/* btn-bounce */
/* make the button bounce up and back down */
.btn-bounce {
  background-color: #102E5E;
  animation: bounce 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
